body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

img {
	width: auto;
}

#tapir {
    height: 300px;
    width: 500px;
    padding: 5px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}


h1 {
    background-color: green;
    border: 2px solid;
    margin: 50px;
    padding: 30px;
    text-align: center;
}

h2, h3 {
    background-color: green;
    border: 2px solid;
    text-align: center;
    padding: 5px;
    margin: 30px;
}

li {
    font-size: 32px;
	padding: 10px;
    
}



form {
	padding: 20px;
}

.aboutButtons {
	height: 100px;
	width: auto;
	background-color: yellow;
}